*{
    margin: 0px;
    padding: 0;
    width: 100%;
  
}
:root{
    --x:skyblue;
}
li{
    list-style: none;
}
.logo{
    width: 70px;
    border-radius: 100px;
    height: 70px;
    
}

.nav-link:hover{
    color: var(--x)
}
.nav-link{
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.navbar-nav i{
    padding-left: 50px;
}
@media(min-width:992px){
    ul{
        display: flex;
        align-items: center;
    }
}
@media(max-width:992px){
    .nav-item i{
        
        display: none;
    }
}
.main{
    background-image: url('./img/img1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:bottom ;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.main-one{
  text-align: center;
  
}
.main-one p{
  color: rgb(18, 18, 18);
  font-size: 30px;
  padding-top: 15%;
  font-weight:900;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.main-one h1{
  color: rgb(20, 19, 19);
  font-size: 50px;
  font-weight: 800px;
  font-family: cursive;
}
@media(max-width:600px)
{
  .welcome h1{
      
      font-size: 50px;
  }
}


.btn{
    width: 10%;
    color:rgb(21, 21, 21);
    border: 2px solid dashed;
    font-size: 18px;
    
    
}


.para{
    text-align: justify;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.destination-item img {
    
    transition: .3s;
  }
  
  .destination-item:hover img {
    transform: scale(1.2);
  
    
  }
  
  .destination-overlay {
    position: absolute;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(225, 211, 211, 0.5);
    transition: .5s;
    z-index: 1;
  }
  
  .destination-item:hover .destination-overlay {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-width: 20px;
  }
#Packages{
    
    background-image: url('.img/goa.jfif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:bottom ;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.package{
        color:rgb(162, 226, 226);
        text-align: center;
        font-weight: 500;
        background-color: rgb(244, 238, 238);
}
.package-item {
    transition: .5s;
    
  }
  
  .package-item:hover {
    box-shadow:0px 0px 30px 0px; 
}

.blog{
  background-color: azure;
}

.blog-item {
    transition: .5s;
  }
  
  .blog-item:hover {
    box-shadow: 0 0 30px #CCCCCC;
  }
  
  .blog-date {
    position: absolute;
    width: 60px;
    height: 45px;
    top: 30px;
    left: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #7AB730;
  }
  
  .blog-date::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -15px;
    left: 0;
    border: 8px solid;
    border-color: transparent #5f8f25 #5f8f25 transparent;
    z-index: -1;
  }
  
  
  .contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  @media(max-width:600px){
    .about-text h1 {
      padding-top: 65px;
      text-align: center;
    }
  }

  .btn1{
    width: 150px;
    padding: 5px;
    color:rgb(21, 21, 21);
    border: none;
    font-size: 18px;
    background: transparent;
    
    
}
.btn1:hover{
color:black;
background-color: var(--x);

}

  @media(max-width:600px){
    .btn{
     
      margin: 0 auto;
      text-align: center;
   
   }

 }
 .send_bt {
    
    margin: 0 auto;
    text-align: center;
}

.send_bt {
    width: 100%;
    text-align: center;
    font-size: 16px;
    background-color: rgb(141, 184, 110);
    color: rgb(229, 213, 213);
    padding: 10px;
    border-radius: 2px;
    margin-top: 20px;
    display: block;
    font-weight: bold;
    border: 2px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.send_bt:hover {
  background-color: var(--x);
  color: white;
}
.send_btn{
  color: black;
  border:none;
  border-radius: 5px;
  padding: 5px;
}
.send_btn:hover {
  background-color: var(--x);
  color: white;
}
.btn-one{
  color: rgb(211, 224, 225);
 
}
.btn-one:hover{
  color: rgb(37, 200, 226);
 
}

html{
  scroll-behavior: smooth;
}



  